* {
    font-family:"Guardian-EgypTT",Charter,"Charter Bitstream",Cambria,"Noto Serif Light","Droid Serif",Georgia,serif;
    /* color: rgb(78, 76, 77); */
    background-color: #f6e6e6;
    color: gray

}

/* nav section */
nav ul {
    padding: 15px;
    flex: 4;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

nav div {
    display: flex;
    flex-wrap: wrap;
    flex: 2;
}
/* this was needed apply to all aspects of the nav*/
nav * {
    text-align: center;
    padding: 10px;
    text-decoration: none;
    display: inline;
    font-size: 30px;
    background-color: #f6e6e6;
    color: gray;
    
}

/* headers */

.header1 {
    float:left;
    padding-top: 15px;
    margin-right: 20px;
}

h1 {
    font-size: 36px;
    font-weight: 100;
    display: inline-block;
}

h3 {
    font-size: 36px;
    font-weight: 100;
    position:relative;
    padding: 30px;
    background-color: #f6e6e6;
    color: gray;
    padding: 10px;
    text-align: center;
}

h4 {
    padding: 20px;
    margin:auto;
    background-color: rgba(48, 47, 47, 0.993);
    color: #fff; 
}

/* large sections */
div {
    display: flex;
    flex-wrap: wrap;
}

article p {

    float: right;
    font-size: 25px;
    width: 1000px;
    padding: 10px;
    font-style: italic;
    margin: 75px;
}

section p {
    border-style: solid;
    border-width: 2px;
    color: gray;   
    padding: 2px;
    margin: 3px;
}

/* classes and hovers */

/*  this is the images used for the project tags. they had the same size so it was used class instead if id */


.about-me {
    padding: 10px;
box-shadow: 10px 10px 5px #b6b6b6;
margin: 20px;
width: 10%; 
display:flex;
}


.work img {
    width: 476px;
    height: 200px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}


.mainwork:hover {
    background-color: #ecc0c9;
}

.work:hover {
    background-color: #ecc0c9;
}

.mainwork {
    width: 1050px;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    box-shadow: 10px 10px 5px #b6b6b6;
    margin: 20px;

}

.work  {
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    box-shadow: 10px 10px 5px #b6b6b6;
    margin: 20px;
    width: 500px; 
}

.projects {
    flex: 4;
    display:flex;
    flex-wrap:wrap;
    margin:0 auto; 
    margin-left: 80px;
}

.pinkfox {
    width: 100%;
    height:350px; 
    padding: 0; 

}

/* SECTION for the SECTION */
section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color:white;
} 

/* a- tag is needed to notify css that the a- tages needs to have no decoration. you cannot add it to the section  */
section a{
    text-decoration: none;
  }



nav a:hover {
    color: white;
    background-color: black;
  }

  /* classes for the images used */

  #profilepic {
    width: 240px;
    height:300px; 
    margin-left: 100px;
    border-style: solid;
    border-width: 2px;
    color: gray;
    float: left;
}

#pinkfox {
    width: 100%;
    height:350px;   
    border-style: solid;
    border-width: 2px;
    color: gray; 
}

#project1pic {
    width: 100%;
    height: 70%;
    display: inline-block;   
}

  /* footer section */
footer {
    padding: 30px;
    font-size: 20px;
    text-align: center;
}

footer ul {
    border-style: solid;
    border-width: 2px;
    background-color:white;

}

footer li {
    display: inline-block;
    padding: 10px;
    background-color: white;
       
}

footer a {
    text-decoration: none;
    background-color:white;
}

/* this makes the page responsive */
@media screen and (max-width: 768px) {
    .header1, nav ul {
        flex-direction:column; 
    }
}



